/* src/styles/Sidebar.css */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #171717;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1;
}

.sidebar.open {
    left: 0;
}

.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar ul li:hover {
    color: #f1f1f1;
}